/* @import url('../colors/cores.css');

body {

    background-color: var(--azulpastel);

}

.CampoDePesquisa {

    display: flex;
    margin-left: 15vw;

}

.Formulario {

    background-color: var(--branco);
    border: 1px solid;
    margin: 10px;

}

.TituloFormulario {

    margin: 20px;
    text-align: center;

}

.LabelFormulario {

    margin: 10px;

}

.InputFormulario {

    border: 1px solid;
    border-radius: 5px;
    padding-left: 5px;

}

#nome,
#cpf,
#contato {

    margin-left: 10px;

}

#nome,
#cpf {

    margin-bottom: 10px;

}

#nome {

    width: 40vh;

}

.CampoResultadoPesquisa {

    background-color: var(--branco);
    border: 1px solid;
    margin: 10px;
    margin-top: 20px;

}

.Opcao {

    display: flex;
    margin-left: 6vw;

}

.Opcao_tipo,
.Opcao_rh {

    margin-left: 15px;

}

.DivBotao {

    text-align: center;
    margin-bottom: 20px;

}

#buscar {

    width: 100px;
    height: 30px;
    color: var(--branco);
    background-color: var(--verde);
    border: 0px;
    border-radius: 10px;

}

#buscar:hover {

    opacity: 0.7;

}

.TabelaResultado {

    margin: 20px;
    border: 1px solid;

}

th {

    border: 1px solid;
    width: 100vw;

} */