@import url('../colors/cores.css');

body {

    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.ImagemHospital {

    width: auto;

}

.area_cadastro {

    background-color: var(--azulpastel);
    display: flex;
    align-items: center;
    width: 100vh;

}

.formulario {

    background-color: var(--branco);
    border: 1px solid;
    border-radius: 10%;
    margin: auto;

}

.titulo_formulario {

    margin: 20px;

}

.labelFormulario {

    margin: 10px;

}

.inputFormulario {

    border: 1px solid;
    border-radius: 5px;
    padding-left: 5px;

}

#nome,
#cpf,
#contato {

    margin-left: 10px;

}

#nome,
#cpf {

    margin-bottom: 10px;

}

#nome {

    width: 40vh;

}

.opcao {

    display: flex;

}

.opcao_tipo,
.opcao_rh {

    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;

}

.div_botoes {

    text-align: center;
    margin-bottom: 20px;

}

#cadastrar {

    width: 100px;
    height: 30px;
    color: var(--branco);
    background-color: var(--verde);
    border: 0px;
    border-radius: 10px;

}

#limpar {

    width: 100px;
    height: 30px;
    color: var(--branco);
    background-color: var(--vermelho);
    border: 0px;
    border-radius: 10px;
    margin-left: 10px;

}

#cadastrar:hover,
#limpar:hover {

    opacity: 0.7;

}