@import url('../colors/cores.css');

body{

    background-color: var(--azulpastel);
    margin: 0;
    padding: 0;

}

.body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    margin-right: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.link:hover {
    background-color: #45a049;
}