@import url("../Colors/cores.css");

body {

    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden

}

.ImagemHospital {

    width: auto;

}

.area_cadastro {

    background-color: var(--azulpastel);
    display: flex;
    align-items: center;
    width: 100vh;

}

.formulario {

    background-color: var(--branco);
    border: 1px solid;
    border-radius: 10%;
    margin: auto;

}

.titulo_formulario {

    margin: 20px;

}

.labelFormulario{

    margin: 10px;

}

#nome, #cpf, #contato{

    margin-left: 10px;

}

#nome, #cpf{

    margin-bottom: 10px;

}

#nome {

    width: 40vh;

}

.opcao {

    display: flex;

}

.opcao_tipo, .opcao_rh{

    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;

}